

.blog-wrapper{
    flex-direction: column;
}

.blog__header-title{
    font-size: 60px;
}

.blog{
    max-width: 100%;
}

.blog-content{
    max-width: 100%;
}

.blog-title{
    font-size: 36px;
    font-weight: 700;
}

.blog-text{
    font-size: 24px;
}

@media (max-width:767px) {
    .section-blog{
        padding-top: 30px;
    }

    .blog__header-title{
        font-size: 48px;
    }
    .blog-title{
        font-size: 24px;
    }

    .blog-text{
        font-size: 18px;

    }
}


.rotate {
    transform: rotate(-90deg);
}